<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">

<head>
  {{ content_for_header }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- assign common_css_url = 'common.css' | asset_url -%}
  {%- render 'stylesheet', name: common_css_url -%}
  <script src="//code.jivo.ru/widget/udJg8fyaDj" async></script>
</head>

<body>
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>
  {%- render 'component-loader' -%}
</body>

</html>