.category-grid-section {
  height: 700px;
  padding: 100px 0;
  width: 100%;
}

.category__content {
  text-align: center;

  .category-grid-section__title {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 20px;
  }

  .category-grid-section__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 40px;
  }
}

.accessories {
  grid-area: accessories;
}
.implants {
  grid-area: implants;
}
.devices {
  grid-area: devices;
}
.consumables {
  grid-area: consumables;
}

.category__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
  grid-template-areas:
    "accessories implants consumables"
    "accessories implants consumables"
    "accessories devices consumables"
    "accessories devices consumables";

  height: 500px;
}

.category-item {
  background: var(--color-white);
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 0px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 0px 3px 1px;

  a {
    height: 100%;
    width: 100%;
    display: block;
    color: var(--color-black);
    text-decoration: none;
  }

  .category-item__name {
    font-weight: 500;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}
