.faq-section {
  width: 100%;
}

.faq-wrapper {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
}

.faq-header{
  width: 45%;
}

.faq-title {
  font-size: 36px;
  color: var(--color-black);
  font-weight: 600;
}

.faq-subtitle {
  font-size: 14px;
  color: var(--color-grey);
  margin-top: 20px;
  line-height: 24px;
}

.faq-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  gap: 20px 0;
  position: relative;
  width: 50%;
  transition: all 0.3s ease-in-out;

  .faq-item {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--color-light-grey);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .faq-question {
      font-size: 18px;
      color: var(--color-black);
      font-weight: 600;
    }

    .faq-answer {
      font-size: 16px;
      color: var(--color-grey);
      max-width: 80%;
      opacity: 0;
      max-height: 0;
      margin-top: 0;
      overflow: hidden;
      transition: all 0.2s linear;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    path {
      stroke: var(--color-black);
    }

    &[aria-expanded="true"] .faq-answer {
      margin-top: 30px;
      opacity: 1;
      max-height: 9em;
      transition: all 0.2s linear;
    }

    &[aria-expanded="true"] svg {
      transform: rotate(180deg);
    }
  }
}
