.footer-section {
  width: 100%;
  background-color: var(--main-blue);
  color: white;
}

.footer-section__main{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer-section__bottom{
  border-top: 1px solid white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-logo {
  img{
      width: 200px;
  }

  p{
    margin-top: 20px;
    max-width: 300px;
  }
}

.footer-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links{
  display: flex;
  align-items: center;
  gap: 0 100px;
}

.footer-links a{
  text-decoration: none;
  color: var(--color-white);
}

.footer-social-links{
  display: flex;
  align-items: center;
  gap: 15px;
}