.section-hero{
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.hero__content{

  display: flex;
  flex-direction: column;
  gap: 40px 0;
  justify-content: flex-end;

  @include fullHeightFullWidth();
}

.hero__content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 50px 0;
  padding-bottom: 80px;
  z-index: 4;
}

.hero__heading{
  color: var(--color-white);
  font-family: var(--main-font2);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.hero__subheading{
  color: var(--color-white);
  font-family: var(--main-font2);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.hero__cta-button{
  background: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  color: var(--color-white);  
  display: inline-block;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
}

.hero__media--video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}