.pagination-wrapper {
  margin-top: 32px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 32px;
  max-width: 32px;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1px;
}

.pagination__item {
  color: var(--dark);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  width: 100%;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins";
}

a.pagination__item:hover::after {
  height: 2px;
}

.pagination__item .icon-caret {
  height: 6px;
}

.pagination__item--current::after {
  height: 2px;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: "";
  display: block;
  width: 24px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--border-black);
}

.pagination__item--next .icon {
  margin-left: -4px;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -4px;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
