.section-timer {
  padding-top: 100px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;

  .timer-seperator {
    font-size: 36px;
    margin-top: -45px;
    color: var(--color-black);
  }
}

.timer-section__content {
  text-align: center;
  margin-bottom: 50px;

  .timer-section__heading {
    font-size: 32px;
    color: var(--color-black);
    margin-bottom: 10px;
  }

  .timer-section__subheading{
    font-size: 18px;
    color: var(--color-grey);
    max-width: 600px;
    margin: 20px auto;
  }
}

.time-segment {
  display: flex;
  flex-direction: column;
  align-items: center;

  .time-value {
    color: var(--color-blue);
    font-size: 48px;
    margin-bottom: 20px;
  }

  .time-label {
    color: var(--color-grey);
    font-size: 16px;
  }
}

.timer__button{
  background-color: var(--main-blue);
  color: var(--color-white);
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover{
   opacity: 0.9;
   transform: scale(1.1);
  }
}