.section-why-us {
  background-color: var(--main-blue);
  height: 500px;
  width: 100%;
}

.why-us__content {
  display: flex;
  justify-content: space-between;
}

.why-us-section__title {
  max-width: 500px;
  color: var(--main-white);
  font-size: 36px;
  font-weight: 700;
}
