{%- render 'stylesheet'
  , name: 'featured-products' -%}

<div class="section-featured-products">
  <div class="container">
    <div class="featured-products__header">
      {% if section.settings.section_heading %}
        <h2 class="featured-products__heading">{{ section.settings.section_heading }}</h2>
      {% endif %}

      {% if section.settings.section_subheading %}
        <p class="featured-products__subheading">{{ section.settings.section_subheading }}</p>
      {% endif %}
    </div>

    <div class="products__grid">
      {% for product in collections.featured.products limit: 4 %}
        {% render 'product-card'
          , product: product %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Products",
    "settings": [
      {
        "type": "header",
        "content": "Featured Products Section Settings"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Featured Products"
      },
      {
        "type": "text",
        "id": "section_subheading",
        "label": "Section Subheading",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla nunc in molestie feugiat. Nunc auctor consectetur elit, quis pulvina."
      }
    ],
    "presets": [
      {
        "name": "Featured Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}