{%- render 'stylesheet'
  , name: 'hearing-test' -%}

<section class="hearing-test-fullscreen">
  <iframe
    width="100%"
    height="100%"
    src="https://hearing-screener.beyondhearing.org/4C0OuK"
    frameborder="0"></iframe>
</section>

{% schema %}
  {
    "name": "Hearing Test",
    "settings": [],
    "presets": [
      {
        "name": "Hearing Test"
      }
    ]
  }
{% endschema %}