{%- render 'stylesheet'
  , name: 'map' -%}

<div class="map-section">
  <div class="container">
    <div class="map-section__header">
      <h2>{{ section.settings.map_heading }}</h2>
    </div>
    <div class="map-container">
      {% render 'map' %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Map",
    "settings": [
      {
        "type": "text",
        "id": "map_heading",
        "label": "Map Heading",
        "default": "Our locations"
      }
    ],
    "presets": [
      {
        "name": "Map Section"
      }
    ]
  }
{% endschema %}