<!-- Empty Navigation section - created by Copilot -->
<nav class="section-navigation" role="navigation" aria-label="Site navigation">
  <h1>Hello</h1>
</nav>

{% schema %}
{
  "name": "Navigation",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Navigation",
      "category": "Header"
    }
  ]
}
{% endschema %}
