<section class="section-products-view">
  {%- render 'stylesheet'
    , name: 'products-view' -%}

  <div class="container">
    <h2 class="product-grid-section__title">{{- collection.title | upcase }} COLLECTION</h2>
    {% paginate collection.products by 6 %}
      <div class="products__grid">
        {% for product in collection.products %}
          {% render 'product-card'
            , product: product %}
        {% endfor %}
      </div>
      {% if paginate.pages > 1 %}
        {% render 'pagination'
          , paginate: paginate %}
      {% endif %}
    {% endpaginate %}
  </div>
</section>

{% schema %}
  {
    "name": "Products View",
    "settings": [],
    "presets": [
      {
        "name": "Products View Section",
        "category": "Sections"
      }
    ]
  }
{% endschema %}