@import "reset";
@import "fonts";
@import "resources";
@import "variables";

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html,
body {
  font-family: "Poppins";
  font-weight: 400;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.container {
  max-width: var(--max-container-size);
  margin: 0 auto;
  padding: 0 var(--default-padding);

  @include fullHeightFullWidth();
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4b4b4b52;
  z-index: 3;
}
