@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/Poppins-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

