@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Thin.woff2) format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-ThinItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-ExtraLight.woff2) format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-ExtraLightItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Light.woff2) format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-LightItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Italic.woff2) format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Medium.woff2) format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-MediumItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-SemiBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-SemiBoldItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-BoldItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-ExtraBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-ExtraBoldItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-Black.woff2) format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/Poppins-BlackItalic.woff2) format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}