@mixin fullHeightFullWidth {
  width: 100%;
  height: 100%;
}

@mixin makeItCenter ($horizontal: center, $vertical: center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}