:root {
  --font-family-poppins:
    "Poppins";
  --max-container-size: 1240px;

  // padding sizes
  --default-padding: 24px;
  --tablet-padding: 16px;
  --mobile-padding: 12px;

  // colors
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #666666;
  --color-light-grey: #c7c7c7;
  --color-blue: #2382f2;

  // backgrounds
  --background-black: #000000;
  --background-white: #ffffff;
  --background-blue: #2382f2;

  //border-colors
  --border-black: #000000;
  --border-white: #ffffff;
  --border-grey: #666666;
  --border-light-grey: #c7c7c7;
  --border-blue: #2382f2;
}
